*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav section coding starts --------------------------------------------------------------------------------------------------------- */
.nav_main_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: +3;
    background:inherit;
}

.nav_container{
    width: 80%;
    height: 75px;
    display: flex;
    padding: 5px 10px;
    background: #1751f4;
    margin-top: 10px;
    border-radius: 15px;
}
.logo{
    width: 15%;
    color: #ffffff;
    font-weight: bolder;
    font-size: 90px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.nav_section{
    width: 85%;
}

nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 20px 0px;
    position: relative;
    
}

nav ul li a{
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

#blog a{
    color: black;
    background-color: #ffffff;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 0 10px #ffffff;
    transition: 0.6s ease;
    font-size: 17px;
  }


nav ul li a:hover{
  color: black;
  background-color: #ffffff;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 0 10px #ffffff;
  transition: 0.6s ease;
  font-size: 17px;

}
/* blog secion design starts ---------------------------------------------------------------------- */

.blog-main-container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    flex-direction: column;
}
.blog-wlcm-text{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.blog-one-section,.blog-two-section{
    display: flex;
    flex-direction: row;
}
.blog-one-img, .blog-one-content, .blog-two-img, .blog-two-content{
    width: 50%;
    padding: 20px;
}
.blog-one-content p{
    padding: 5px;
    font-size: 18px;
}
/* read more button */
.readMore-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.readMore{
    width: 140px;
    height: 40px;   
    padding: 10px;
    background: #1751f4;
    border: none;
    border-radius: 5px;
    color: white;
    
}
.readMore a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
/* blog secion design ends ---------------------------------------------------------------------- */



/* footer designing  */

footer{
    width: 100%;
    height: auto;
    background: #1D347A;
    padding: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}