*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav section coding starts --------------------------------------------------------------------------------------------------------- */

.nav_main_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: +3;
    background:inherit;
}

.nav_container{
    width: 80%;
    height: 75px;
    display: flex;
    padding: 5px 10px;
    background: #1751f4;
    margin-top: 10px;
    border-radius: 15px;
}
.logo{
    width: 20%;
    color: #ffffff;
    font-weight: bolder;
    font-size: 90px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.nav_section{
    width: 80%;
}

nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 20px 0px;
    position: relative;
    
}

nav ul li a{
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

#research a{
    color: black;
    background-color: #ffffff;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 0 10px #ffffff;
    transition: 0.6s ease;
    font-size: 17px;
  }


nav ul li a:hover{
  color: black;
  background-color: #ffffff;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 0 10px #ffffff;
  transition: 0.6s ease;
  font-size: 17px;

}
/* research section designing */

.research-main-container{
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.research-container{
    width: 80%;
    height: auto;
    padding: 30px;
}
/* footer designing  */

footer{
    width: 100%;
    height: auto;
    background: #1D347A;
    padding: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}