*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav section coding starts --------------------------------------------------------------------------------------------------------- */

.nav_main_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: +3;
    background:inherit;
}

.nav_container{
    width: 80%;
    height: 75px;
    display: flex;
    padding: 5px 10px;
    background: #1751f4;
    margin-top: 10px;
    border-radius: 15px;
}
.logo{
    width: 20%;
    color: #ffffff;
    font-weight: bolder;
    font-size: 90px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.nav_section{
    width: 80%;
}

nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 20px 0px;
    position: relative;
    
}

nav ul li a{
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

#product a{
    color: black;
    background-color: #ffffff;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 0 10px #ffffff;
    transition: 0.6s ease;
    font-size: 17px;
  }


nav ul li a:hover{
  color: black;
  background-color: #ffffff;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 0 10px #ffffff;
  transition: 0.6s ease;
  font-size: 17px;

}

/* Slider Section */
.collection{
    font-family: "Quicksand", serif;;
    font-size: 50px;
    padding: 200px;
    margin-top: 30px;
}
.img_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    color: #fff;
    padding: 30px;
}

.img_slider_container {
    position: relative; 
    overflow: hidden;
    width: 80%;
    max-width: 2300px;
    padding: 8px;
}

.slider, .slider2 {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 24px;
}

.watch-item {
    min-width: calc(25% - 20px);
    box-sizing: border-box;
    color: rgb(255, 145, 0);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    background: #ccc;
    font-family: 'Ubuntu Mono', monospace;
}

.watch-image {
    width: 210px;
    height: 210px;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 15px;
}

.watch-price {
    font-size: 20px;
    color: rgb(255, 145, 0);
    font-weight: 500;
    margin: 10px 0px;
}

/* Buttons for navigation */
#prev, #next, #prev2, #next2 {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background: inherit;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.2s;
}

#prev {
    left: 2%; 
}

#next {
    right: 2%; 
}

#prev2 {
    left: 2%; 
}

#next2 {
    right: 2%; 
}

.button:hover, .button2:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* Dots for navigation */
#dots, #dots2 {
    text-align: center;
    margin-top: 10px;
}

.dot, .dot2 {
    display: inline-block;
    width: 40px;
    height: 4px;
    background: #000;
    border-radius: 10%;
    margin: 5px;
    cursor: pointer;
    opacity: 0.2;
}

.dot.active, .dot2.active {
    opacity: 1;
}

.show-more{
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 120px;
    height: 40px;
    background: #ccc;
    border-radius: 10px;
    cursor: pointer;
    
}

.show-more a{
    text-decoration: none;
    color: inherit;
}

.show-morebtn{
    display: flex;
    justify-content: center;    
}

.show-more:hover{
    transform: scale(1.03);
    transition: all 0.3s ease;
    font-size: 15px;
}

/* Hover effect for items */
.watch-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.7s ease;
}

/* Product page image collection */
.img_collection_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.img_collection {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover; 
    gap: 20px;
}

/* Creating the Add to cart button */
.addTo{
    text-align: center;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    background: gray;
    border-radius: 10px;
    cursor: pointer;
}

.addTo:hover{
    background-color: #c2185b;
    transform: scale(1.03);
    transition: all 0.3s ease;
    font-size: 15px;
}
/* footer designing  */

footer{
    width: 100%;
    height: auto;
    background: #1D347A;
    padding: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}